<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display&display=swap" rel="stylesheet">
    <title>minimø</title>
</head>
<body>
<main>
    <section style="background-color: cadetblue; width: 10rem; height: 10rem; z-index: 2;position: absolute;
top:5rem">

    </section>

</main>
</body>
</html>